.organization {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.org_left {
    width: 45vw;
}
.org_rigth {
    width: 45vw;
}

.poisk {
    margin: 5px 0;
}

.org_cart {
    border: 1px solid #884000;
    border-radius: 30px;
    padding: 10px 25px 15px 15px; 
    background-color: #F3BE8E;
    height: 75vh;

    overflow-y: auto;
}
.name_text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* word-wrap: break-word; */
    color: #884000;

}

.mini_text {
    font-size: 18px;
    line-height: 20px;
    margin-top: 3px;

}

.stroka {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.stroka_2 {
    margin: 0 5px;
    
}

.add_type {
    display: flex;
    flex-direction: column;
}

.add_type > label, .category_org > label, .stroka > label {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    box-shadow: 0 0 5px 5px #F3BE8E inset;
}

.add_categ {
    display: flex;
    flex-direction: column;
}

.btn_add_org {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.list_org {
    display: flex;
    flex-direction: column;
    height: 75vh;

    overflow-y: auto;
}

.list_org::-webkit-scrollbar {
    width: 15px;     
}
  
.list_org::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.67); 
    border-radius: 30px;   

}
  
.list_org::-webkit-scrollbar {
    background-color: #62D4E3;    
    border-radius: 30px;       
    border: 3px solid rgba(255, 255, 255, 0.67);  
}

.btn_add {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.edit_inf {
    display: flex;
    justify-content: space-around;
}

.list_org::-webkit-scrollbar {
    width: 15px;    
}
  
.list_org::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.67); 
    border-radius: 30px;   

}
  
.list_org::-webkit-scrollbar-thumb {
    background-color: #62D4E3;    
    border-radius: 30px;       
    border: 3px solid rgba(255, 255, 255, 0.67);  
}

.inf_bd {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    box-shadow: 0 0 5px 5px #F3BE8E inset;
    font-style: italic;
    font-size: 20px;

}

textarea {
    resize : none;
    overflow : auto;

}