.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: 60vw;
  transform: scale(0.5s);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 200%;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}
